<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<body>
<nav class="nav-wrapper navbar-fixed" th:fragment="navbar">
    <a href="/"  class="brand-logo">Neurolib</a>
    <ul class="right hide-on-med-and-down">
        <li th:classappend="${module == 'books' ? 'active' : ''}">
            <a href="#" th:href="@{/book/random}">Книги</a>
        </li>
        <li th:classappend="${module == 'genres' ? 'active' : ''}">
            <a href="#" th:href="@{/genres}">Жанры</a>
        </li>
        <li th:classappend="${module == 'authors' ? 'active' : ''}">
            <a href="#" th:href="@{/author/random}">Авторы</a>
        </li>
        <li th:classappend="${module == 'selections' ? 'active' : ''}">
            <a href="#" th:href="@{/selections/top?sort=votes,desc}">Подборки</a>
        </li>
        <li th:classappend="${module == 'reco' ? 'active' : ''}">
            <a href="#" th:href="@{/reco}">Рекомендации</a>
        </li>
        <li th:classappend="${module == 'shelf' ? 'active' : ''}">
            <a href="#" th:href="@{/shelf}">Книжная полка</a>
        </li>
        <li id="remote">
            <form th:action="@{/searchbook}">
                <input class="typeahead input-field" style="width: 250px" type="text" name="query"
                       placeholder="Поиск" autocomplete="off"/>
                <input type="hidden" name="size" value="10"/>
                <input type="hidden" name="page" value="0"/>
                <input type="hidden" name="sort" value="r.Rate,DESC"/>
                <button type="submit" class="btn btn-primary" style="display: none"/>
            </form>
        </li>
        <th:block sec:authorize="isAuthenticated()">
            <li>
                <img th:src="${#authentication.credentials.avatar}" width="50px" class="circle"/>
            </li>
            <li>
                <a th:href="@{/profile}">
                    <span sec:authentication="credentials.firstName">User Name</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="document.getElementById('signout').submit();">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign Out
                </a>
                <form method="POST" th:action="@{/signout}" id="signout">
                </form>
            </li>
        </th:block>


        <li sec:authorize="isAnonymous()">
            <a href="/signin" th:href="@{/signin}">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
            </a>
        </li>
    </ul>
</nav>
</body>
</html>