<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="../fragments/head::head (Случайные)"></div>

<body>
<div th:replace="../fragments/navbar::navbar"></div>
<div class="container-fluid content">

    <div class="col-md-10">
        <th:block th:each="author : ${authors}">
            <div class="col-md-4">
                <div th:replace="../fragments/author-card :: card">...</div>
            </div>
        </th:block>
    </div>
    <div class="col-md-2">
        <div th:replace="../fragments/right-bar :: right-bar">...</div>
    </div>
</div>
</body>
</html>