<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="../fragments/head::head (${'Поиск '+query})"></div>

<body>
<div th:replace="../fragments/navbar::navbar"></div>
<div class="container content" style="margin-top: 65px">
    <div class="col-md-12">
        <form th:action="@{/searchbook}">
            <div class="form-group col-md-11">
                <input type="search" class="form-control" id="search-form" placeholder="Поиск по названию" name="query" th:value="${query}"/>
                <input type="hidden" name="size" value="10"/>
                <input type="hidden" name="page" value="0"/>
                <input type="hidden" name="sort" value="r.Rate,DESC"/>
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-primary">Найти!</button>
            </div>
        </form>
    </div>
    <br/>
    <th:block th:each="book : ${books.content}">
        <div class="col-md-12">
            <a th:href="@{/book/{id}(id = ${book.book.bookId})}" >
                <img class="col-md-1" th:src="@{/api/images/book/{id}(id = ${book.book.bookId})}"/>
            </a>
            <div class="col-md-11">
                <a th:href="@{/book/{id}(id = ${book.book.bookId})}" >
                    <h3 th:text="${book.book.title}"/>
                </a>
                <th:block th:each="author : ${book.authors}">
                    <div th:inline="text">
                        <a th:href="@{/author/{authorId}/book(authorId = ${author.authorId})}">
                            <span th:text="${author.firstName}"></span>
                            <span th:text="${author.LastName}"></span>
                        </a>
                    </div>
                </th:block>
                <th:block th:each="genre : ${book.genres}">
                    <a th:href="@{/genre/{genreId}(genreId = ${genre.genreId})}">
                        <span th:text="${genre.genreDesc}"></span>
                    </a>
                </th:block>
            </div>
        </div>
        <br/>
    </th:block>
</div>
</body>
</html>