<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="../fragments/head::head (Neurolib)"></div>

<body>
<div th:replace="../fragments/navbar::navbar"></div>
<div class="container-fluid content">

    <div class="col-md-10">
        <div>
            <h4>Цитата дня</h4>
            <blockquote th:inline="text">
                [[${dayQuote.text}]]
                <footer><a th:href="@{/author/{id}(id = ${dayQuote.flibustaAuthorId})}"><span th:text="${dayQuote.quoteAuthorName}"></span></a></footer>
            </blockquote>
        </div>
        <h3 class="text-center">Самые популярные</h3>
        <div class="carousel" data-indicators="true" style="margin-top: -80px;">
            <th:block th:each="book : ${topReadable}">
                <div class="carousel-item">

                    <img style="width: 150px; height: 200px"
                         th:src="@{/api/images/book/{id}(id = ${book.bookId})}"/>
                    <a th:href="@{/book/{id}(id = ${book.bookId})}" class="btn waves-effect waves-light"
                       style="width: 150px; margin-top: 5px;">
                        Подробнее
                    </a>
                </div>
            </th:block>

        </div>
        <div style="overflow:hidden;">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <div id="authorborn-calendar"></div>
                    </div>

                    <div class="col-md-7">
                        <div id="authorborn-panel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-2">
        <div th:replace="../fragments/right-bar :: right-bar">...</div>
    </div>
</div>
<div th:replace="../fragments/footer :: footer"></div>
</body>
</html>