<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="../fragments/head::head (${profile.firstName})"></div>

<body>
<div th:replace="../fragments/navbar::navbar"></div>
	<div class="container content">
		<br/>
			<h3>Your Profile</h3>
			<p>Hello, <span th:text="${profile.firstName}">first name</span>!</p>
			<img th:src="${profile.avatar}" />
			<dl>
				<dt>User ID:</dt>
				<dd th:text="${profile.userId}"></dd>
				<dt>Full Name:</dt>
				<dd th:text="${profile.firstName}+' '+${profile.lastName}"></dd>
				<dt>Email:</dt>
				<dd th:text="${profile.email}"></dd>
			</dl>

	</div>
</body>
</html>
