<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="../fragments/head::head ('Книжная полка')"></div>

<body>
<div th:replace="../fragments/navbar::navbar"></div>
<div class="container content" style="margin-top: 65px">

    <th:block th:each="bookInfo : ${booksInShelf}">
        <div class="divider"></div>
        <div class="row section">
            <div class="col s2">
                <a th:href="@{/book/{id}(id = ${bookInfo.book.bookId})}" >
                    <img class="responsive-img" th:src="${bookInfo.book.imagePath}"/>
                </a>
            </div>
            <div class="col s7">
                <a th:href="@{/book/{id}(id = ${bookInfo.book.bookId})}" >
                    <h5 th:text="${bookInfo.book.title}"/>
                </a>
                <div class="col">Авторы:</div>
                <th:block th:each="author : ${bookInfo.authors}">
                    <div th:inline="text">
                        <a th:href="@{/author/{authorId}/book(authorId = ${author.authorId})}">
                            <span th:text="${author.firstName}"></span>
                            <span th:text="${author.LastName}"></span>
                        </a>
                    </div>
                </th:block>
                <div class="col">Жанр:</div>
                <div class="col">
                    <th:block th:each="genre : ${bookInfo.genres}">
                            <a th:href="@{/genre/{genreId}(genreId = ${genre.genreId})}">
                                <span th:text="${genre.genreDesc}"></span>
                            </a>
                    </th:block>
                </div>
                <br/>
            </div>
            <div  class=" col s3">
                <div th:id="'reviewStars-'+${bookInfo.book.bookId}" class="rating">
                   <th:block th:each="i : ${#numbers.sequence( 0, bookInfo.maxRate-1/1)}">
                        <input type="radio" th:name="'reviewStars'+${bookInfo.book.bookId}" th:value="${bookInfo.maxRate}-${i}" th:checked="${bookInfo.userBookRate}==${bookInfo.maxRate}-${i}"/>
                        <i th:title="${bookInfo.maxRate}-${i}" class="material-icons small" ></i>
                   </th:block>
                </div>


                <div sec:authorize="isAuthenticated()" th:id="'shelf-control-'+${bookInfo.book.bookId}"  class="center-align">
                    <a class="waves-effect waves-light btn red book-operation-link"  th:onclick="'book.delete('+${bookInfo.book.bookId}+');'" >
                        <i class="material-icons left">delete</i>Удалить
                    </a>
                </div>
            </div>
        </div>
        <br/>
    </th:block>
</div>
</body>
</html>