<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="../fragments/head::head ('Вход')"></div>

	<body>
	<div th:replace="../fragments/navbar::navbar"></div>
		<div class="container content">
			<br/>
			<p >Вход с помощью социальных сетей:</p>
			<br/>
			<!-- FACEBOOK SIGNIN -->
			<form name="fb_signin" id="fb_signin" th:action="@{/signin/facebook}" method="POST">
				<a class="btn btn-block btn-social btn-facebook" name="sign" href="#" onclick="document.getElementById('fb_signin').submit();">
					<span class="fa fa-facebook"></span> Sign in with Facebook
				</a>
			</form>
			<br/>
			<!-- LINKEDIN SIGNIN -->
			<form name="ld_signin" id="ld_signin" th:action="@{/signin/linkedin}" method="POST">
				<a class="btn btn-block btn-social btn-linkedin" name="sign" href="#" onclick="document.getElementById('ld_signin').submit();">
					<span class="fa fa-linkedin"></span> Sign in with LinkedIn
				</a>
			</form>
			<br/>
			<!-- TWITTER SIGNIN -->
			<form name="tw_signin" id="tw_signin" th:action="@{/signin/twitter}" method="POST">
				<a class="btn btn-block btn-social btn-twitter" name="sign" href="#" onclick="document.getElementById('tw_signin').submit();">
					<span class="fa fa-twitter"></span> Sign in with Twitter
				</a>
			</form>
			<br/>
			<!-- VKONTAKTE SIGNIN -->
			<form name="vk_signin" id="vk_signin" th:action="@{/signin/vkontakte}" method="POST">
				<a class="btn btn-block btn-social btn-vk" name="sign" href="#" onclick="document.getElementById('vk_signin').submit();">
					<span class="fa fa-vk"></span> Sign in with Vkontakte
				</a>
			</form>
		</div>
	</body>
</html>
