<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="../fragments/head::head ('Вход')"></div>

	<body>
	<div th:replace="../fragments/navbar::navbar"></div>
		<div class="container content">
			<br/>
			<p >Вход с помощью социальных сетей:</p>
			<br/>
			<!-- FACEBOOK SIGNIN -->
			<form name="fb_signin" id="fb_signin" th:action="@{/signin/facebook}" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
				<input type="hidden" name="scope" value="user_photos"></input>
				<button type="submit"><img th:src="@{/social/signin/facebook_en.png}"></img></button>
			</form>
			<br/>
			<!-- LINKEDIN SIGNIN -->
			<form name="ld_signin" id="ld_signin" th:action="@{/signin/linkedin}" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
				<button type="submit"><img th:src="@{/social/signin/linkedin_en.png}"></img></button>
			</form>
			<br/>
			<!-- TWITTER SIGNIN -->
			<form name="tw_signin" id="tw_signin" th:action="@{/signin/twitter}" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
				<button type="submit"><img th:src="@{/social/signin/twitter_en.png}"></img></button>
			</form>
			<br/>
			<!-- VKONTAKTE SIGNIN -->
			<form name="vk_signin" id="vk_signin" th:action="@{/signin/vkontakte}" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
				<button type="submit"><img th:src="@{/social/signin/vkontakte_en.png}"></img></button>
			</form>
		</div>
	</body>
</html>
